* {
    background-color: rgb(34, 35, 43);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    box-sizing: border-box;
}

/* import fonts */
@font-face {
    font-family: montserrat, sans-serif;
    src: url("montserrat-regular.ttf")format("truetype");
}
@font-face {
    font-family: indie-flower;
    src: url("IndieFlower-Regular.ttf")format("truetype");
}

/* header style */
.header {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000; /* Ensure header is on top */
    background-color: rgb(34, 35, 43);
    padding: 0.5rem 0;
    height: 70px;
}
.header a {
    font-family: indie-flower;
    margin: 10px;
    font-size: 2rem;
    color: #8601f2;
}
.header #logo {
    font-size: 40px;
    margin-left: 20px;
}
.header a:hover {
    text-shadow: 0 0 10px #3e3780, 
    0 0 20px #6b5cff, 0 0 30px #a599ff;
}

/* navbar */
.navbar {
    display: flex;
    margin-right: 1.5rem;
    padding: 0 10px;
    z-index: 3; 
}
.navbar a {
    position: relative;
    font-family: montserrat, sans-serif;
    font-size: 20px;
    margin-left: 1.5rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}
.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, #fc72ff, #8f68ff);
    transition: width 0.3s ease-in-out;
}
.navbar a:hover::after {
    width: 100%;
}

/* home section */
#home {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 10;
    padding: 0 2rem;
}


#home h2 {
    font-family: montserrat, sans-serif;
    cursor: pointer;
    font-size: 3.5rem;
    text-align: left;
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite, fadeInSlide 1s ease-out forwards;
    margin-top: 20px;
    margin-bottom: 0.5rem;
    transform: none;
    z-index: 1;
}

#home h1 {
    cursor: pointer;
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 7rem;
    text-align: left;   
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff,#6a3c8b, #ffffff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(10000px);
    animation: animate-gradient 2.5s linear infinite, fadeInSlide 1s ease-out forwards;
    z-index: 1;
}
.intro {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    color: #ffffff;
    text-align: left;
}

.intro p {
    background-color: transparent;
    font-family: montserrat, sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: justify;
    padding-top: 20px;

    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlide 1s ease-out forwards;
    animation-delay: 0.5s;
}
.intro #resume {
    margin-top: 20px;
    padding: 1em 2em;
    color: #ffffff;
    width: 250px;
    font-size: 15px;
    height: 50px;
    border-radius: 1000px;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;

    opacity: 0;
    transform: translateY(30px);
    animation: fadeInButton 1s ease-out forwards;
    animation-delay: 1.6s;
}


.intro #resume::after {
    content: '';
    position: absolute;
    inset: 0;
    padding: 3px;
    border-radius: 1000px;
    background: linear-gradient(270deg, #008cff, #e100ff, #008cff, #e100ff);
    background-size: 200% 200%;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    animation: moveGradient 20s linear infinite;
    z-index: -1;
}
#resume:hover {
    background:linear-gradient(360deg,#962fbf,#8601f2);
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 500% 50%;
    }
}
@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(30px); /* start lower */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* final position */
    }
}
@keyframes fadeInButton{
    0% {
        opacity: 0;
        transform: translateX(200px) translateY(40px); 
    }
    100% {
        opacity: 1;
        transform: translateX(200px) translateY(30px);
    }
}


.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 50px;
    border-radius: 50%;
}

.img_container img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 90px #ff00f7;
    transition: transform 0.3s ease;
    animation: float 4s ease-in-out infinite;
}

.img_container img:hover {
    transform: scale(1.05);
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.gradient_blur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #fc72ff, #8f68ff);
    height: 500px;
    width: 500px;
    border-radius: 50%;
    filter: blur(300px);
    z-index: 0;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}

/* about me section */
#about_me {
    display: flex;
    background-color: rgb(34, 35, 43);
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 80px;
    justify-content: center;
    text-align: center;
}
.image_slideshow {
    position: relative;
    width: 800px;
    height: 600px; 
    overflow: hidden;
    background-color: rgb(34, 35, 43);
    margin-left: 50px;
    border: 4px solid #ffffff; 
    border-radius: 40px;
    box-shadow: 0 0 30px #ff00f7;
    animation: float 4s ease-in-out infinite;

}
.image_slideshow .slide {
    display: none;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}
.image_slideshow .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.image_slideshow .slide.active {
    display: block;
}

.image_container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.about {
    display: flex;
    flex-direction: column;
    width: 500px;
}
.about h1 {
    display: flex;
    justify-content: right;
    margin-top:200px;
    margin-right: 70px;
    text-align: center;
    cursor: pointer;
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
    text-align: left;   
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 3s linear infinite, fadeInSlide 1s ease-out forwards;
    z-index: 1;
}
.about p {
    margin-left: 10;
    font-family: montserrat, sans-serif;
    color: #ffffff;
    text-align: justify;
}



/* skills section */
#skills {
    display: flex;
    background-color: rgb(34, 35, 43);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.skill_container {
    text-align: left;
    margin-top: 50px;
    height: 600px;
    width: 800px;
    background-color: rgb(34, 35, 43);
    border: 4px solid #ffffff; 
    border-radius: 40px;
    box-shadow: 0 0 30px #ff00f7;
    animation: float 4s ease-in-out infinite;
}
.skills-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 150px;
    height: 100%;
}
.skills-heading {
    font-family: montserrat, sans-serif;
    font-size: 5rem;
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 3s linear infinite, fadeInSlide 1s ease-out forwards;
    z-index: 1;
    margin: 0;
}
.skill {
    width: 100%;
    background-color: transparent;
    margin-top: 60px; 
    margin-left:10px;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start; 
}

.skill-name {
    text-align: left; 
    font-size: 20px;
    font-family: montserrat, sans-serif;
    color: #ffffff;
    background-color: transparent;
    margin-left: 20px;
    margin-bottom: 10px;
}

.skill-bar {
    margin-left: 20px;
    margin-top: 10px;
    background-color: #3c3939; 
    border-radius: 20px;
    height: 10px; 
    width: 90%; 
}

.skill-level {
    height: 100%; 
    border-radius: 20px; 
    transition: width 0.5s ease;
}
.html {
    width: 90%;
    background-color: #ff00d0; 
}
.css {
    width: 45%;
    background-color: #ff00d0; 
}
.js {
    width: 50%;
    background-color: #ff00d0; 
}
.java {
    width: 95%;
    background-color: #ff00d0; 
}
.sql {
    width: 80%;
    background-color: #ff00d0; 
}

.project {
    display: block;
}
.project h1 {
    padding: 20px;
    text-align: left; 
    font-size: 50px;
    font-family: montserrat, sans-serif;
    color: #ffffff;
}

.habiaral h2 {
    margin-left:100px;
    font-size: 15px;
    font-family: montserrat, sans-serif;
    color: white ;
    text-align:left
}
.project img {
    width: 500px;
    height: 500px;
}


/*footer section */
.footer {
    width: 100%;
    height: 200px;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-family: montserrat, sans-serif;
}
.footer h2, .footer p, .project h1 {
    margin-top: 300px;
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff, #ffffff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite, fadeInSlide 1s ease-out forwards;
    z-index: 1;
}
.footer p {
     margin-top: 10px;
}
.icon_container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap:30px;
}
.icon_container i{
    transform: scale(2.0);
}
.fa-github:hover {
    color: #beb8b8; 
}
.fa-twitter:hover {
    color:#0082ec;
}
.fa-instagram:hover {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-facebook:hover {
    color:#2a00fa;
}
.fa-discord:hover {
    color:#4f5bd5;
}
#below {
    cursor:pointer;
    margin-top: 15px;
    font-size:20px;
     text-shadow: 0 0 100px #9102f7,
    0 0 50px #d499ff;
}